name: Release Tracking

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  run-action:
    name: GitHub Actions Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          srm-token: ${{ secrets.SRM_TOKEN }}
          sbom-artifact: true
      - name: Print Output
        id: output
        run: echo "${{ steps.test-action.outputs.response-status }}"
